<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ado Fan Blog</title>
    <!-- 引入外部CSS文件 -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<!-- 导航栏 -->
<header>
    <div class="nav-container">
        <div class="logo">Ado Fan Blog</div>
        <nav>
            <a href="#home">Home</a>
            <a href="#albums">Albums</a>
            <a href="#others">Ohters</a>
            <a href="#">Favorite Songs</a>
            <a href="#">Message Board</a>
        </nav>
    </div>
</header>

<!-- 首屏 -->
<section id="home" class="hero">
    <p>Ado，22岁日本神秘唱见，全球现象级歌手。<br>
        <br>
        🔹 代表成就: 爆款单曲《Usseewa》登顶Billboard日本榜，最快破亿流媒日语歌之一<br>
        首专《狂言》冠军；《新时代》（《海贼王》电影）首支登顶Apple Music全球榜的日本歌曲<br>
        <br>
        🔹 巡演记录: 2024年「Wish」世界巡演14城、7万+观众，美国场售罄<br>
        首位在日本国立竞技场举办个唱的女歌手<br>
        2025年「火花」世界巡演启动，覆盖亚欧美拉30+城市，规模创日本艺人纪录<br>
        <br>
        🔹 数据认证: 日本唱片协会认证：2白金+2金专辑，多首白金/金单曲<br>
        全球总流媒超108亿次；Spotify播放27亿+，月听众约670万<br>
        持续刷新日本音乐人全球影响力纪录。
    </p>
    <h1>Posted By Ado</h1>
    <button class="btn"></button>
</section>

<!-- 专辑区域 -->
<section id="albums" class="blog-section">
    <h2 class="section-title">Albums</h2>
    <div class="card-container">
        <div class="card">
            <div class="card-cover">
                <img src="/static/images/zanmu.jpg" alt="Zanmu">
            </div>
            <h3>Zanmu(残梦)</h3>
            <p>稀有、梦幻、不可触碰的浪漫，如同Ado歌声里的孤独与热烈。</p>
            <span class="tag">Albums</span>
        </div>

        <div class="card">
            <div class="card-cover">
                <img src="/static/images/kyougen.jpg" alt="Kyougen">
            </div>
            <h3>Kyougen(狂言)</h3>
            <p>用旋律记录情绪，用旋律收藏瞬间，这是属于我的秘密花园。</p>
            <span class="tag">Albums</span>
        </div>
    </div>
</section>
<!--  其他  -->
<section id="others" class="blog-section">
    <h2 class="section-title">Others</h2>
    <div class="card-container">
        <div class="card">
            <div class="card-cover">
                <img src="/static/images/uta.jpg" alt="Uta's Songs">
            </div>
            <h3>Uta's Songs</h3>
            <p>温柔包裹的治愈之声，在细腻旋律里藏着对世界的温柔告白与生活的烟火气。</p>
            <span class="tag">Albums</span>
        </div>
    </div>
</section>
<!--Favorite Songs-->


<!--Message Board-->

<!-- 底部 -->
<footer>
    <p>© 2026 Ado Fan Blog</p>
</footer>

</body>
</html>